
<link type="text/css" rel="stylesheet" href="../css/viz.css">

 <div class="container"> 
  
  
  <div title class="opt">
    

  Data Visualisations and Design
      <br>
      <br>
  </div>
  
<!--      
  <div class="square">
    <div class="content">
      <div class="table">
        <div class="table-cell">
          <ul>This demo shows you can center multiple types of content :
          <li>Text</li>
          <li>Images</li>
          <li>Lists</li>
          <li>... (you can also do it with forms)</li>
          </ul>
          </div>
          </div>
          </div>
          </div>
  <div class="square">
    <div class="content">
      <div class="table">
        <div class="table-cell numbers">
          98%
        </div>
          </div>
          </div>
          </div>
  <div class="square">
    <div class="content">
      <div class="table">
        <div class="table-cell numbers">               
          3.9/5
        </div>
          </div>
          </div>
          </div>
-->                        
                          <!-- 2nd row verticaly centered images in square columns -->
<!--                         
  <div class="square">
    <div class="content">
      <div class="table">
        <div class="table-cell">
          <img class="rs" src="{{ .Site.BaseURL }}img/voc_ed_clip.png"/>
            Responsive image.
          </div>
        <div class="table-cell invis">
        Invisible Text
        </div>
            </div>
            </div>
            </div>
-->            
<!--
  <div class="square">
    <div class="content">
      <div class="table">
        <div class="table-cell">
          <img class="rs" src="{{ .Site.BaseURL }}img/voc_ed_clip.png"/>

          </div>
        <div class="invis">
            An Infographic on Vocational Education
        </div>
            </div>
            </div>
            </div>
  <div class="square">
    <div class="content">
      <div class="table">
        <div class="table-cell">
          <img class="rs" src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg"/>
            Responsive image.
          </div>
            </div>
            </div>
            </div>
       -->                         
                                <!-- 3rd row responsive images in background with centered content -->
    <div class="square bg img8">
    <a href="https://willdebras.github.io/img/japan_perry_big.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Render of Elevation of<br>Japanese Islands<br>-<br><i>Cartography</i>
        </div>
          </div>
          </div>
          </a>
          </div>                                
    <div class="square bg img5">
    <a href="https://willdebras.shinyapps.io/migration_2018/">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Migration in the U.S.<br>-<br><i>Interactive</i>
        </div>
          </div>
          </div>
          </a>
          </div>
    <div class="square bg img10">
    <a href="https://willdebras.github.io/img/divinity.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Perceived Religious Threats<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
    <div class="square bg img9">
    <a href="https://willdebras.github.io/img/floyd_death.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Emotions on George Floyd's<br>Killing<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img1">
    <a href="https://willdebras.github.io/img/voc_ed.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Vocational Education<br>-<br><i>Infographic</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img6">
    <a href="https://willdebras.github.io/img/richmond_annot.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Streets of Richmond<br>-<br><i>Cartography</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img7">
    <a href="https://willdebras.github.io/img/vision_zero.mp4">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Chicago Crash Fatalities<br>-<br><i>Dashboard</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img2">
    <a href="https://willdebras.github.io/img/nec_green.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Economic Outlook in 2018<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img3">
    <a href="https://willdebras.github.io/img/wv_media.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Abortion Media Mentions<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img4">
    <a href="https://willdebras.github.io/img/scholarship.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Reliance on Academic Scholarships<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
                   
          
        <br>
        <br>

        </div>

        {{ partial "social.html" . }}