
<link type="text/css" rel="stylesheet" href="../css/viz.css">

 <div class="container"> 
  
  
  <div title class="opt">
    

  Data Visualisations and Design
      <br>
      <br>
  </div>
  
    <div class="square bg img8">
    <a href="https://willdebras.github.io/img/japan_perry_big.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Render of Elevation of<br>Japanese Islands<br>-<br><i>Cartography</i>
        </div>
          </div>
          </div>
          </a>
          </div>                                
    <div class="square bg img5">
    <a href="https://willdebras.shinyapps.io/migration_2018/">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Migration in the U.S.<br>-<br><i>Interactive</i>
        </div>
          </div>
          </div>
          </a>
          </div>
    <div class="square bg img11">
    <a href="https://willdebras.github.io/img/divinity.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Perceived Religious Threats<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
    <div class="square bg img9">
    <a href="https://willdebras.github.io/img/floyd_death.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Emotions on George Floyd's<br>Killing<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img1">
    <a href="https://willdebras.github.io/img/voc_ed.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Vocational Education<br>-<br><i>Infographic</i>
        </div>
          </div>
          </div>
          </a>
          </div>
    <div class="square bg img10">
    <a href="https://willdebras.github.io/img/egypt_rendered.jpg">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Elevation of Egypt - 1827<br>-<br><i>Cartography</i>
        </div>
          </div>
          </div>
          </a>
          </div>    
  <div class="square bg img6">
    <a href="https://willdebras.github.io/img/richmond_annot.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Streets of Richmond<br>-<br><i>Cartography</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img7">
    <a href="https://willdebras.github.io/img/vision_zero.mp4">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Chicago Crash Fatalities<br>-<br><i>Dashboard</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img12">
    <a href="https://willdebras.github.io/img/green_thumb.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Green Energy in Europe<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img2">
    <a href="https://willdebras.github.io/img/nec_green.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Economic Outlook in 2018<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img3">
    <a href="https://willdebras.github.io/img/wv_media.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Abortion Media Mentions<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
  <div class="square bg img4">
    <a href="https://willdebras.github.io/img/scholarship.png">
    <div class="content">
      <div class="table">
        <div class="table-cell invis">
          Reliance on Academic Scholarships<br>-<br><i>Visualisation</i>
        </div>
          </div>
          </div>
          </a>
          </div>
                   
          
        <br>
        <br>

        </div>

        {{ partial "social.html" . }}